WCFCalc.Clients/WCFCalcWebClient/WCFCalcWebClient/Service References/CalcService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9989/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="PerformOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operandA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operandB" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="op" type="q1:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>